<!DOCTYPE html>
<html>
<head>
    <title>Cool Flask Web App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Cool Flask Web App!</h1>
        <p class="lead text-center">This is a basic example of a cool Flask web app.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="{{ url_for('about') }}">Learn More</a>
        </div>
    </div>
</body>
</html>